<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="teamepr" version="2.5">
	<servlet>
		<servlet-name>MemberView</servlet-name>
		<servlet-class>kr.co.teamper.view.MemberView</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemberView</servlet-name>
		<url-pattern>/member</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TeamView</servlet-name>
		<servlet-class>kr.co.teamper.view.TeamView</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TeamView</servlet-name>
		<url-pattern>/teamr</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>main</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>kr.co.teamper.util.UrlPath</listener-class>
	</listener>

</web-app>